<h2 class='center'>Gallery</h2>
<p>Check it! It's our gallery page! We're always uploading new content, so make sure you check back or follow us on:
	<button class="facebook"><a href="https://www.facebook.com/earleybirddesigns/" target="_blank">Facebook</a></button>
</p>
	<div class="row">
		<div class="col-md-3">
			<div>
				<a href="https://www.facebook.com/earleybirddesigns/photos/a.1962361053988546.1073741830.1956957997862185/2023920837832567/?type=3&theater" target="_blank"><%= image_tag "dragon_scales_braces.jpg", class: "rounded gallery-size" %></a>
			</div>
		</div>
		<div class="col-md-3">
			<div>
				<a href="https://www.facebook.com/earleybirddesigns/photos/a.1962361053988546.1073741830.1956957997862185/1984251315132853/?type=3&theater" target="_blank"><%= image_tag "light_dragon_scales_brace.jpg", class: "rounded gallery-size" %></a>
			</div>
		</div>
		<div class="col-md-3">
			<div>
				<a href="https://www.facebook.com/earleybirddesigns/photos/a.1957609237797061.1073741828.1956957997862185/1957614191129899/?type=3&theater" target="_blank"><%= image_tag "love_coffee_sleeve_all.jpg", class: "rounded gallery-size" %></a>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col-md-3">
			<div>
				<a href="https://www.facebook.com/earleybirddesigns/photos/a.1962361053988546.1073741830.1956957997862185/1962356487322336/?type=3&theater" target="_blank"><%= image_tag "marine_coasters.jpg", class: "rounded gallery-size" %>
			</div>
		</div>
		<div class="col-md-3">
			<div>
				<a href="https://www.facebook.com/earleybirddesigns/photos/a.1957609237797061.1073741828.1956957997862185/2016062321951752/?type=3&theater" target="_blank"><%= image_tag "musical_flask_covers_before.jpg", class: "rounded gallery-size" %>
			</div>
		</div>
		<div class="col-md-3">
			<div>
				<a href="https://www.facebook.com/earleybirddesigns/photos/a.1957609237797061.1073741828.1956957997862185/2010910912466893/?type=3&theater" target="_blank"><%= image_tag "odin_brace_all.jpg", class: "rounded gallery-size" %>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col-md-3">
			<div>
				<a href="https://www.facebook.com/earleybirddesigns/photos/a.1962361053988546.1073741830.1956957997862185/2000523743505610/?type=3&theater" target="_blank"><%= image_tag "silver_cuff.jpg", class: "rounded gallery-size" %>
			</div>
		</div>
		<div class="col-md-3">
			<div>
				<a href="https://www.facebook.com/earleybirddesigns/photos/a.1962361053988546.1073741830.1956957997862185/2030188150539169/?type=3&theater" target="_blank"><%= image_tag "skull_wing_wallet.jpg", class: "rounded gallery-size" %>
			</div>
		</div>
		<div class="col-md-3">
			<div>
				<a href="https://www.facebook.com/earleybirddesigns/photos/a.1962361053988546.1073741830.1956957997862185/2027865804104737/?type=3&theater" target="_blank"><%= image_tag "sonic_prophecy_vambraces.jpg", class: "rounded gallery-size" %>
			</div>
		</div>
	</div>